.form-select{
    margin: 10px;
    width: 110px;
    border-color: #1aff00;
   
}
h1{
    text-align: center;
    background: #66ff00;
    border:solid;
    border-radius:10px;
    border-color: #596374;
    margin:10px 10px 0px 10px;
}
.container1{
    background: #ffffff;
    width: 90%;
    max-width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body{
    margin: 0;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
.chattext {
    
    margin-left:10px;
    width: 380px;
}
.btn{
    background-color: #000000;
    color: #ffffff;
}
.form-control{
    border:solid;
}